{% set css_files = '<link rel="stylesheet" href="../../static/css/advanced_report_page.css">' %}
{% include 'general/header.html' %} 


<div class="mx-0 px-0 mw-100 my-5 pb-3 d-flex justify-content-center">
    <div class="container mx-0 pt-5 px-1 px-sm-2 px-md-3 px-lg-4">
        <div>
            <h1 class="text-warning">Advanced Report:</h1>
            <p>This page contains a full report of all products with their corresponding quantity in each location.</p>
        </div>
        <div class="table-responsive">
            <table class="table custom-table table-hover report_table" id="table">
                <thead>
                    <tr class="table-head">
                        <th class="fixed-column"></th>
                        {% for product in products %}
                            <th>{{ product['name'] }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for location in locations %}
                        <tr>
                            <td class="bg-warning fixed-column">{{ location['name'] }}</td>
                            {% for product in products %}
                                <td>{{ quantity_dict.get(location['location_id']).get(product['product_id']) }}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>


{%include 'general/footer.html'%}  