{% set css_files = '<link rel="stylesheet" href="../../static/css/home_page.css">' %}
{% include 'general/header.html' %}


<div class="mx-0 px-0 mw-100 my-5 pb-3 d-flex justify-content-center">
    <div class="w-100 mx-0 pt-5 px-3 px-sm-2 px-md-3" style="max-width: 1500px;">
        <div class="row mx-auto p-3 col-md-9 bg-light rounded shaded-box d-flex justify-content-center">
            <p class="text-danger text-center fw-bold">404 - Page Not Found</p>
            <p class="text-center">The requested URL was not found on the server. Please check your spelling and try again.</p>
        </div>
    </div>
</div>


{%include 'general/footer.html'%}  