{% include 'general/header.html' %} 

  <div class="general-body min-vh-100">
    <div class="container mt-5 mb-5 pt-5 ">
      <div >
        <h1 class="text-warning">Report:</h1>
        <p class="text-light">This page contains a full report of all products existing in all locations along with their quantities and other information.</p>

      </div>
      <div class="table-responsive">
        <table class="table custom-table table-hover" id="table">
          <thead>
            <tr class="table-head">
              <th>Location ID</th>
              <th>Location Name</th>
              <th>Product ID</th>
              <th>Product Name</th>
              <th>Product Price $</th>
              <th>Total In Qty</th>
              <th>Total Out Qty</th>
              <th>Total Qty</th>
            </tr>
          </thead>
          <tbody>
            {% for one_product in all_products %}
            <tr>
              <td>{{ one_product.location_id }}</td>
              <td>{{ one_product.location_name }}</td>
              <td>{{ one_product.product_id }}</td>
              <td>{{ one_product.product_name }}</td>
              <td>{{ one_product.price }}</td>
              <td>{{ one_product.total_in_quantity }}</td>
              <td>{{ one_product.total_out_quantity }}</td>
              <td>{{ one_product.total_quantity }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>

{%include 'general/footer.html'%}  