{% include 'header.html' %} 

  <!-- Logo & Slogan -->
  <div class="gradient-bg">
    <img class="centered-img img-fluid" src="../static/img/PrimeInventoryLogo.png" alt="Prime Inventory Logo">
  </div>

  <!-- Our vision & mission -->
  <section class="our-vision-section">
    <div class="container">
      <h2>Our Vision, Mission & Values</h2>
      <div class="row">
        <div class="col-lg-4 text-center">
          <div class="circle-image">
            <img class="about-us-image img-fluid" src="../static/img/vision.png" alt="Vision Image">
          </div>
          <p>Our Vision</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce sagittis tortor a risus iaculis, at eleifend lacus feugiat.</p>
        </div>
        <div class="col-lg-4 text-center">
          <div class="circle-image">
            <img class="about-us-image img-fluid" src="../static/img/mission.png" alt="Mission Image">
          </div>
          <p>Our Mission</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce sagittis tortor a risus iaculis, at eleifend lacus feugiat.</p>
        </div>
        <div class="col-lg-4 text-center">
          <div class="circle-image">
            <img class="about-us-image img-fluid" src="../static/img/values.png" alt="Values Image">
          </div>
          <p>Our Values</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce sagittis tortor a risus iaculis, at eleifend lacus feugiat.</p>
        </div>
      </div>
    </div>
  </section>

  <!-- About us -->
  <section class="about-us-section">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <h2>About Us</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce sagittis tortor a risus iaculis, at eleifend lacus feugiat. Pellentesque consequat, libero ac rhoncus viverra, risus risus fringilla augue, vel condimentum ex velit at erat.</p>
          <p>Praesent tristique urna eu nisi consequat semper. Mauris vel ligula et felis sagittis volutpat eget a ante. Aliquam erat volutpat. Donec in mauris hendrerit, commodo elit vel, pulvinar arcu. Donec ut fermentum mauris.</p>
        </div>
        <div class="col-lg-6">
          <img class="about-us-image img-fluid rounded" src="../static/img/AboutUs.jpg" alt="About Us section Image">
        </div>
      </div>
    </div>
  </section>

{%include 'footer.html'%}  