{% include 'header.html' %} 

<div class="general-body min-vh-100">
    <div class="container col-lg-7 px-4 py-3 mx-auto form-style rounded form-body">
      <h2 class="py-3">Details of Product ({{the_product[0].product_name}}):</h2>

      <div class="form-group row mb-3 justify-content-center">
        <label class="col-sm-2 col-form-label text-center golden-form-label rounded my-1 nowrap-text min-width-div">ID:</label>
        <p class="col-sm-5 form-input-style text-center bg-light rounded my-1 py-2 mx-3 ">
          {{the_product[0].product_id}}
        </p>
      </div>

      <div class="form-group row mb-3 justify-content-center">
        <label class="col-sm-2 col-form-label text-center golden-form-label rounded my-1 nowrap-text min-width-div">Name:</label>
        <p class="col-sm-5 form-input-style text-center bg-light rounded my-1 py-2 mx-3 ">
          {{the_product[0].product_name}}
        </p>
      </div>

      <div class="form-group row mb-3 justify-content-center">
        <label class="col-sm-2 col-form-label text-center golden-form-label rounded my-1 nowrap-text min-width-div">Price:</label>
        <p class="col-sm-5 form-input-style text-center bg-light rounded my-1 py-2 mx-3 ">
          {{the_product[0].price}}
        </p>
      </div>

      <div class="form-group row mb-3 justify-content-center">
        <label class="col-sm-2 col-form-label text-center golden-form-label rounded my-1 nowrap-text min-width-div">Quantity:</label>
        <p class="col-sm-5 form-input-style text-center bg-light rounded my-1 py-2 mx-3 ">
          {{the_product[0].product_quantity}}
        </p>
      </div>


      <div class="form-group row mb-3 justify-content-center">
        <label class="col-sm-2 col-form-label text-center golden-form-label rounded my-1 nowrap-text min-width-div">Location:</label>
        <p class="col-sm-5 form-input-style text-center bg-light rounded my-1 py-2 mx-3 ">
          {{the_product[0].location_name}}
        </p>
      </div>

    </div>
</div>

{%include 'footer.html'%}  