{% include 'general/header.html' %} 

<div class="general-body min-vh-100">
    <div class="container col-lg-7 px-4 py-3 mx-auto form-style rounded form-body">
      <h2 class="py-3">Add New Movement:</h2>
      <form action="/movements/add_or_update_movement" method="post" enctype="multipart/form-data">
        <div class="form-group row mb-3 justify-content-center">
          <label for="movement-id" class="col-sm-2 col-form-label golden-form-label rounded mb-1 nowrap-text min-width-div">Movement's ID:</label>
          <div class="col-sm-8 form-input-style ">
            <input type="text" class="form-control" id="movement-id" placeholder="Insert ID" name="movement_id">
          </div>
        </div>

        <div class="form-group row mb-3 justify-content-center">
          <label for="from-location-select" class="col-sm-2 col-form-label golden-form-label rounded mb-1 nowrap-text min-width-div">From Location:</label>
          <div class="col-sm-8 form-input-style">
            <select class="form-select" id="from-location-select" name="from_location_id">
              <option value="" disabled selected>Select a location</option>
              {% for location in locations %}
              <option value="{{ location.location_id }}">{{ location.name }}</option>
              {% endfor %}
            </select>
          </div>
        </div>
        
        <div class="form-group row mb-3 justify-content-center">
          <label for="to-location-select" class="col-sm-2 col-form-label golden-form-label rounded mb-1 nowrap-text min-width-div">To Location:</label>
          <div class="col-sm-8 form-input-style">
            <select class="form-select" id="to-location-select" name="to_location_id" disabled>
              <option value="" disabled selected>Please select From Location first</option>
            </select>
          </div>
        </div>
  
        <div class="form-group row mb-3 justify-content-center">
          <label for="product-name" class="col-sm-2 col-form-label golden-form-label rounded mb-1 nowrap-text min-width-div">Product's Name:</label>
          <div class="col-sm-8 form-input-style min-width-">
            <select class="form-select" id="product-name" name="product_id_from_select" disabled>
              <option value="" disabled selected>Select a product</option>
            </select>
          </div>
        </div>

        <div class="form-group row mb-3 justify-content-center">
          <label for="product-name" class="col-sm-2 col-form-label golden-form-label rounded mb-1 nowrap-text min-width-div">Product's ID:</label>
          <div class="col-sm-8 form-input-style min-width-">
            <input type="text" class="form-control" id="product-id" placeholder="Type the ID here" name="product_id_from_text" disabled>
          </div>
        </div>

        <div class="form-group row mb-3 justify-content-center">
            <label for="movement_quantity" class="col-sm-2 col-form-label golden-form-label rounded mb-1 nowrap-text min-width-div">Quantity:</label>
            <div class="col-sm-8 form-input-style min-width-">
              <input type="number" class="form-control" id="movement_quantity" placeholder="Type the movement quantity here" name="movement_quantity">
            </div>
        </div>

        <div class="form-group row mb-3 justify-content-center">
            <div class="col-sm-4 text-center">
              <button type="submit" class="golden-button glow-button">Add</button>
            </div>
          </div>
          
      </form>
    </div>
  </div>




  <script>
    document.addEventListener('DOMContentLoaded', function() {
      var fromLocationSelect = document.getElementById('from-location-select');
      var toLocationSelect = document.getElementById('to-location-select');
      var productid = document.getElementById('product-id');
      var locations = JSON.parse('{{ locations | tojson | safe }}');
  
      fromLocationSelect.addEventListener('change', function() {
        var selectedLocationId = this.value;
  
        // Clear the options in the second select input
        toLocationSelect.innerHTML = '';
  
        // Enable or disable the second select input based on the selected value
        toLocationSelect.disabled = (selectedLocationId === '');
        productid.disabled = (selectedLocationId === '');
  
        // Add options to the second select input
        for (var i = 0; i < locations.length; i++) {
          if (locations[i].location_id !== selectedLocationId) {
            var option = document.createElement('option');
            option.value = locations[i].location_id;
            option.textContent = locations[i].name;
            toLocationSelect.appendChild(option);
          }
        }
      });
    });
  </script>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  $(document).ready(function() {
    // When the "From Location" select input value changes
    $("#from-location-select").change(function() {
      var selectedLocationId = $(this).val();
      
      // Clear the "Product's Name" select options
      $("#product-name").empty().append('<option value="" disabled selected>Select a product</option>');
      
      // Make AJAX request to get products based on location
      $.ajax({
        url: "/products/get_products_by_location/" + selectedLocationId,
        type: "GET",
        success: function(response) {
          // Populate the "Product's Name" select options
          for (var i = 0; i < response.length; i++) {
            $("#product-name").append('<option value="' + response[i].product_id + '">' + response[i].name + '</option>');
          }
          
          // Enable the "Product's Name" select input
          $("#product-name").prop("disabled", false);
        }
      });
    });
  });
</script>

{%include 'general/footer.html'%}   