{% include 'general/header.html' %} 


<div class="mx-0 px-0 mw-100 my-5 pb-3 d-flex justify-content-center">
  <div class="container col-lg-7 px-4 form-style rounded form-body">
    <h2 class="py-3">Details of ({{ the_movement.movement_id }}) movement:</h2>

    <div class="form-group row mb-3 justify-content-center">
      <label class="col-sm-2 col-form-label text-center golden-form-label rounded my-1 nowrap-text min-width-div">Movement's ID:</label>
      <p class="col-sm-5 form-input-style text-center bg-light rounded my-1 py-2 mx-3 ">
        {{ the_movement.movement_id }}
      </p>
    </div>

    <div class="form-group row mb-3 justify-content-center">
      <label class="col-sm-2 col-form-label text-center golden-form-label rounded my-1 nowrap-text min-width-div">From Location:</label>
      <p class="col-sm-5 form-input-style text-center bg-light rounded my-1 py-2 mx-3 ">
        {{ the_movement.from_location_name }}
      </p>
    </div>

    <div class="form-group row mb-3 justify-content-center">
      <label class="col-sm-2 col-form-label text-center golden-form-label rounded my-1 nowrap-text min-width-div">To Location:</label>
      <p class="col-sm-5 form-input-style text-center bg-light rounded my-1 py-2 mx-3 ">
        {{ the_movement.to_location_name }}
      </p>
    </div>

    <div class="form-group row mb-3 justify-content-center">
      <label class="col-sm-2 col-form-label text-center golden-form-label rounded my-1 nowrap-text min-width-div">Product's Name:</label>
      <p class="col-sm-5 form-input-style text-center bg-light rounded my-1 py-2 mx-3 ">
        {{ the_movement.product_name }}
      </p>
    </div>


    <div class="form-group row mb-3 justify-content-center">
      <label class="col-sm-2 col-form-label text-center golden-form-label rounded my-1 nowrap-text min-width-div">Product's ID:</label>
      <p class="col-sm-5 form-input-style text-center bg-light rounded my-1 py-2 mx-3 ">
        {{ the_movement.product_id }}
      </p>
    </div>

    <div class="form-group row mb-3 justify-content-center">
      <label class="col-sm-2 col-form-label text-center golden-form-label rounded my-1 nowrap-text min-width-div">Quantity:</label>
      <p class="col-sm-5 form-input-style text-center bg-light rounded my-1 py-2 mx-3 ">
          {{ the_movement.quantity }}
      </p>
    </div>

    <div class="form-group row mb-3 justify-content-center">
      <label class="col-sm-2 col-form-label text-center golden-form-label rounded my-1 nowrap-text min-width-div">Created By:</label>
      <p class="col-sm-5 form-input-style text-center bg-light rounded my-1 py-2 mx-3 ">
          {{ the_movement.creator_full_name }}
      </p>
    </div>

    <div class="form-group row mb-3 justify-content-center">
      <label class="col-sm-2 col-form-label text-center golden-form-label rounded my-1 nowrap-text min-width-div">Created At:</label>
      <p class="col-sm-5 form-input-style text-center bg-light rounded my-1 py-2 mx-3 ">
          {{ the_movement.created_at }}
      </p>
    </div>

    <div class="form-group row mb-3 justify-content-center">
      <label class="col-sm-2 col-form-label text-center golden-form-label rounded my-1 nowrap-text min-width-div">Updated By:</label>
      <p class="col-sm-5 form-input-style text-center bg-light rounded my-1 py-2 mx-3 ">
          {{ the_movement.updater_full_name }}
      </p>
    </div>

    <div class="form-group row mb-3 justify-content-center">
      <label class="col-sm-2 col-form-label text-center golden-form-label rounded my-1 nowrap-text min-width-div">Updated At:</label>
      <p class="col-sm-5 form-input-style text-center bg-light rounded my-1 py-2 mx-3 ">
          {{ the_movement.updated_at }}
      </p>
    </div>
  </div>
</div>


{%include 'general/footer.html'%}   