{% include 'general/header.html' %} 

<div class="general-body min-vh-100">
  <div class="container col-lg-7 px-4 py-3 mb-5 mx-auto form-style rounded form-body">
    <h2 class="py-3">Edit {{ the_location[0].name }} Location:</h2>

    <form action="/locations/update_location" method="post" enctype="multipart/form-data">
      <div class="d-flex justify-content-center mb-3">
        <img src="data:;base64,{{the_location[0].image_data}}" alt="Image of {{ the_location[0].name }} location." class="img-fluid rounded mx-auto" style="max-width: 40%;">
      </div>      
    
      <div class="form-group row mb-3 justify-content-center">
        <label for="location-id" class="col-sm-2 col-form-label golden-form-label rounded mb-1 nowrap-text min-width-div">Location's ID:</label>
        <div class="col-sm-8 form-input-style ">
          <input type="text" class="form-control" id="location-id" placeholder="Insert ID" name="location_id" value="{{ the_location[0].location_id }}">
        </div>
      </div>
    
      <div class="form-group row mb-3 justify-content-center">
        <label for="location-name" class="col-sm-2 col-form-label golden-form-label rounded mb-1 nowrap-text min-width-div">Location's name:</label>
        <div class="col-sm-8 form-input-style ">
          <input type="text" class="form-control" id="location-name" placeholder="Insert ID" name="location_name" value="{{ the_location[0].name }}">
        </div>
      </div>
    
      <div class="form-group row mb-3 justify-content-center">
        <label for="upload-image" class="col-sm-2 col-form-label golden-form-label rounded mb-1 nowrap-text min-width-div">Upload Image:</label>
        <div class="col-sm-8 form-input-style ">
          <input type="file" class="form-control-file " id="upload-image" name="location_image">
        </div>
      </div>
    
      <input type="hidden" name="old_image" value="{{ the_location[0].image_data }}"></input>
      <input type="hidden" name="old_location_id" value="{{the_location[0].location_id}}">
    
      <div class="form-group row mb-3 justify-content-center">
        <div class="col-sm-7 text-center">
          <button type="submit" class="golden-button glow-button">Update</button>
          <p id="processing-message" style="display: none;">Please wait a few seconds to process the image.</p>
        </div>
      </div>
    </form>

    <!-- The delete button. -->
    <form action="/locations/delete_location/{{the_location[0].location_id}}" method="POST" class="row mb-3 justify-content-end">
      <input type="hidden" name="location_id" value="{{the_location.location_id}}">
      <div class="col-sm-7 text-end">
        <button type="submit" class="red-button glow-button" onclick="confirmDelete(event)">Delete Location</button>
      </div>
    </form>

  </div>
</div>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- Showing the message (Please wait a few seconds to process the imag) after clicking the add button. -->
<script>
  $(document).ready(function() {
    $('form').submit(function() {
      $('#processing-message').show();
    });
  });
</script>

<!-- Showing a pop up when clicking the delete button to approve the deletion. -->
<script>
  function confirmDelete(event) {
    event.preventDefault(); // Prevent the default form submission
    if (confirm("Are you sure you want to delete this location?")) {
      // If the user clicks "OK" (Yes) in the confirmation pop-up, proceed with the form submission
      event.target.closest('form').submit();
    } else {
      // If the user clicks "Cancel" (No) in the confirmation pop-up, do nothing
      return false;
    }
  }
</script>

{%include 'general/footer.html'%}  