{% set css_files = '<link rel="stylesheet" href="../../static/css/user_profile.css">' %}
{% include 'general/header.html' %} 


<div class="mx-0 px-0 mw-100 my-5 pb-3 d-flex justify-content-center">
    <div class="container mx-0 pt-5 px-3 px-sm-2 px-md-3 px-lg-4 bg">

        <form action="/users/update_profile/change_user_account_password" method="post" enctype="multipart/form-data" class="">
            <div class=" col-sm-12 col-lg-7 mb-3 mb-lg-0 bg-light p-4 rounded shaded-box overflow-auto mx-auto">

                <!-- Old Password -->
                {% with messages = get_flashed_messages(category_filter=['old_password']) %}
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-warning p-0 m-0 mb-1" role="alert">
                                {{message}}
                            </div> 
                        {% endfor %}
                    {% endif %} 
                {% endwith %}
                <div class="d-flex flex-column mb-4">
                    <label for="" class="user-data-label mb-1 fw-bold d-flex align-items-center"><span>Your Old Password:</span></label>
                    <input type="password" class="form-control"  placeholder="Enter your old password" name="old_password">
                </div>

                <!-- New Password -->
                {% with messages = get_flashed_messages(category_filter=['new_password']) %}
                    {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-warning p-0 m-0 mb-1" role="alert">
                            {{message}}
                        </div> 
                    {% endfor %}
                    {% endif %} 
                {% endwith %}
                <div class="d-flex flex-column mb-4">
                    <label for="" class="user-data-label mb-1 fw-bold d-flex align-items-center"><span>Your New Password:</span></label>
                    <input type="password" class="form-control"  placeholder="Enter your new password" name="new_password">
                </div>

                <!-- Confirm New Password -->
                {% with messages = get_flashed_messages(category_filter=['confirm_new_password']) %}
                    {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-warning p-0 m-0 mb-1" role="alert">
                            {{message}}
                        </div> 
                    {% endfor %}
                    {% endif %} 
                {% endwith %}
                <div class="d-flex flex-column mb-4">
                    <label for="" class="user-data-label mb-1 fw-bold d-flex align-items-center"><span>Your New Password Again:</span></label>
                    <input type="password" class="form-control"  placeholder="Enter your new password again" name="confirm_new_password">
                </div>

                <!-- Submit Button -->
                <div class="col-4 mx-auto mt-4 mb-0 input-box text-center">
                    <input class="btn btn-primary btn-lg" type="submit" value="Submit">
                </div>
            </div>
        </form>
    </div>    
</div>


{%include 'general/footer.html'%}   